:root  {
    --white: #fff;
    --black: #000;
    --green: #78BE20;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color: #000;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 15rem;
    box-sizing: border-box;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

header {
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    
    background-color: #fff;
    font-size: 2rem;
    padding: 1.5rem;
}

header img {
    max-width: 30%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    background-color: #78BE20;
    padding: 15rem 10rem;
}

iframe {
    flex: 1;
    width: 100vw;
    border: none;
}

.permissionBtn {
    --s: 60px; /* the size on the corner */
    --t: 20px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #000000; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
    transition: .2s;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 4REM;
}

button img {
    width: 30rem;
}

#test{
    display: none;
}

canvas{
    display: none;
    margin-top: 10rem;
}

#qrCanvas {
    width: 500px;
    height: 500px;
    background-color: #78BE20;

    --s: 60px; /* the size on the corner */
    --t: 20px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #000000; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
    transition: .2s;
}

.hidden {
    display: none;
}

.active {
    display: block
}