:root  {
    --white: #fff;
    --black: #000;
    --green: #78BE20;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    color: #000;
}
body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
}

header img {
    max-width: 20%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #78BE20;
    padding: 12% 10%;
    width: 100%;
    box-sizing: border-box;
}

.camera-active {
    padding: 0;
}

#camera {
    padding-top: 7%;
}

.qr-text {
    padding-top: 0.5rem;
}

.permissionBtn {
    --s: 60px;
    --t: 20px;
    --g: 0px;
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #000000;
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
    transition: .2s;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button img {
    width: 90%;
}

canvas {
    display: none;
    margin-top: 10%;
}

#qrContainer canvas {
    display: block;
    margin-top: 10%;
}

#qrContainer:empty {
    display: none;
}

#captureBtn {
    max-width: 50%;
}

#cameraVideo {
    max-width: 100%;
    max-height: 50vh;
}

.hidden {
    display: none;
}

.active {
    display: block;
}