:root  {
    --white: #ECECEC;
    --black: #3D3D3D;
    
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

button {
    cursor: pointer;

}