:root  {
    --white: #fff;
    --black: #000;
    --green: #78BE20;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color: #000;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

nav {
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #78BE20;
    color: #fff;
    font-size: 2rem;
    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    flex: 1;
}

iframe {
    flex: 1;
    width: 100vw;
    border: none;
}

.cameraBtn {
    --s: 60px; /* the size on the corner */
    --t: 20px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #000000; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
    transition: .2s;
}
.cameraBtn:click {
    outline: var(--t) solid #78BE20
  }

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button img {
    width: 30rem;
}

#test{
    display: none;
}

#qrCanvas {
    width: 500px;
    height: 500px;
}

